.space-8{
  min-height:15px;
}
.margin-left-5{
  margin-left:5px;
}

.mg-rg-20{
  margin-right:20px !important;
}

select{
  width:100%;
}

select:disabled {
  background-color:#eee!important;
}

.line{
  margin-bottom:5px;
  font-size: 14px;
}

.bottom{
  clear: both; 
}

.border-bottom{
  border-bottom:1px dashed #000; 
  margin-bottom: 8px;
}

.pos-page{
  text-align: right;
  margin-right:15px;
}

.file-box{ position:relative;width:230px} 
.txt{ height:26px; border:1px solid #cdcdcd; width:120px; } 
.filebtn{ background-color:#FFF; border:1px solid #CDCDCD;height:26px; width:70px; vertical-align:middle;} 
.file{ position:absolute; top:0; left:12px; height:24px; filter:alpha(opacity:0);opacity: 0;width:190px }