.line{
  margin-bottom:5px;
  font-size: 14px;
}

.bottom{
  clear: both; 
}

.border-bottom{
  border-bottom:1px dashed #000; 
  margin-bottom: 8px;
}

.pos-page{
  text-align: right;
  margin-right:15px;
}

.jump_page_txt{
  height:42px;
  }

.apr-checkbox{
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

.space-8{
  clear: both;
}

.margin-top-15{
  margin-top: 15px;
}

.file-input-height{
  font-size: 13px;
}