body{
  font-size:18px;
}

table{
  width: 100%;
   margin-bottom: 20px;
}

input[type='checkbox']{
  width: 13px !important;
}
.border-table{
        border: 1px black solid;
        text-align: center;
        border-collapse:collapse;
      }

.logo{
  float:left;
}
.barcode{
  float: right;
  margin-top:40px;
}

.barcode div{
  text-align: right;
  margin-top:5px;
}

.clear{
  clear: both;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.td-title{
  width: 130px;
  height: 40px !important;
}

.td-list-title{
  width: 130px;
}

.td-content-lg{
  width: 748px;
}

.td-content-md{
  width: 532px !important;
}

.td-content-sm{
  width: 200px;
}

.in-line{
  display: inline;
}


.remark_td div{
  text-align: left;
}

